@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.body {
  font-family: "Roboto";
  font-weight: 400;
  color: #000;
  font-size: 16px;
  height: 100%;
  background-color: rgba(58, 55, 55, 0.4);
}
a {
  color: #fff;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
a:hover {
  color: lightseagreen;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.header {
  padding: 10px 0;
  background-color: lightseagreen;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
}
.header__logo a {
  display: inline-block;
}
.header__logo img {
  max-width: 60px;
  max-height: 60px;
  fill: #000;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.header__logo a:hover svg {
  fill: rgb(58, 55, 55);
}

.header__phone {
  padding-left: 20px;
}
.header__phone a:hover {
  color: rgb(58, 55, 55);
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* Archive Car page */
.archive_car {
  padding: 80px 0;
}
.archive_car__body {
}
.archive_car__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.archive_car__item {
  font-size: 26px;
  line-height: 140%;
  color: rgb(58, 55, 55);
}
.archive_car__item a {
  display: inline-block;
}
.archive_car__item:not(:last-child) {
  margin-bottom: 15px;
}
